body {
  background: #ffffff;
  overflow-x: hidden;
  height: 1200px;
}

@media (min-width: 321px) {
  body {
    background: #0d347e;
  }
}

@media (min-width: 361px) {
  body {
    background: #e69747;
  }
}

@media (min-width: 481px) {
  body {
    background: #45b431;
  }
}

@media (min-width: 768px) {
  body {
    background: #128b7d;
  }
}

@media (min-width: 992px) {
  body {
    background: #a667be;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background-image: url(111.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

.logo {
  width: 60px;
  height: 60px;
  background-image: url(logo.svg);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0.55rem;
  left: 0.6rem;
  z-index: 99;
}

@media (min-width: 768px) {
  .logo {
    top: 0.6rem;
    left: 0.6rem;
  }
}

.menu {
  list-style-type: none;
  position: absolute;
  right: 0.5rem;
  top: 1.2rem;
  z-index: 99;
}

@media (min-width: 992px) {
  .menu {
    right: 1rem;
  }
}

.menu li {
  display: inline-block;
  margin-left: -0.3rem;
}

.menu li a {
  text-decoration: none;
  display: block;
  color: #f5f5f5;
  padding: 0.4rem 0.7rem;
  font-size: 0.85rem;
  position: relative;
}

@media (min-width: 361px) {
  .menu li a {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .menu li a {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
}

.menu li a:before {
  content: '';
  width: 0;
  height: 2px;
  background: #f2f2f2;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.4s;
}

.menu li:hover a:before {
  width: 100%;
}

.name {
  position: relative;
  z-index: 999;
  align-self: center;
}

h1,
h2,
h3 {
  color: #e3e3e3;
  font-size: 2.3rem;
}

@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

h1 {
  font-size: 2.3rem;
  font-family: Corbel;
}

@media (min-width: 361px) {
  h1 {
    margin-bottom: 0.3rem;
    font-size: 2.5rem;
  }
}

@media (min-width: 481px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

@media (min-width: 361px) {
  h3 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 481px) {
  h3 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

h2 {
  font-size: 1.42rem;
  font-family: Corbel;
  text-align: left;
}

@media (min-width: 361px) {
  h2 {
    font-size: 1.55rem;
  }
}

@media (min-width: 481px) {
  h2 {
    font-size: 1.88rem;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

.name h1 {
  border-right: 2px solid #fff;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 6s steps(16) forwards, blink-caret 0.9s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  30% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
    border-right: 0;
  }
}

.name h2 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing1 8s steps(26) forwards;
}

@keyframes typing1 {
  0% {
    width: 0%;
  }
  40% {
    width: 0%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.about {
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
  background-image: url(22.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (min-width: 768px) {
  .about {
    padding: 3rem;
    padding-bottom: 5.5rem;
  }
}

@media (min-width: 992px) {
  .about {
    padding: 8rem 8rem;
    padding-bottom: 9rem;
  }
}

.about h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
  color: #000;
}

@media (min-width: 768px) {
  .about h4 {
    font-size: 2rem;
  }
}

p {
  font-size: 1rem;
  line-height: 2;
  position: relative;
  color: #000;
  font-weight: 400;
}

@media (min-width: 768px) {
  p {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.skills-bg {
  padding: 2rem 1rem;
  padding-bottom: 4rem;
  background: transparent;
  background: #f2f2f2;
}

@media (min-width: 992px) {
  .skills-bg {
    padding: 8rem 0rem;
  }
}

.skills-bg h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  color: #000;
}

@media (min-width: 768px) {
  .skills-bg h4 {
    font-size: 2rem;
  }
}

.skillz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 321px) {
  .skillz {
    width: 300px;
  }
}

@media (min-width: 361px) {
  .skillz {
    width: 350px;
  }
}

@media (min-width: 481px) {
  .skillz {
    width: 90%;
  }
}

.skillset {
  width: 70px;
  height: 90px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2.5rem;
}

@media (min-width: 321px) {
  .skillset {
    width: 90px;
  }
}

.skillset div {
  width: 100%;
  position: relative;
}

.skillset h6 {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 0.6rem;
  position: absolute;
  bottom: -1rem;
}

@media (min-width: 321px) {
  .skillset h6 {
    width: 95px;
    bottom: -1.4rem;
  }
}

@media (min-width: 992px) {
  .skillset h6 {
    font-size: 1rem;
    bottom: -2rem;
  }
}

.html {
  background-image: url(skills.png);
  background-size: 720%;
  background-repeat: no-repeat;
  background-position: 1px 0;
}

@media (min-width: 321px) {
  .html {
    background-size: 640%;
    background-position: 6px 0;
  }
}

.css {
  background-image: url(skills.png);
  background-size: 720%;
  background-repeat: no-repeat;
  background-position: -81px 0;
}

@media (min-width: 321px) {
  .css {
    background-size: 640%;
    background-position: -88px 0;
  }
}

.js {
  background-image: url(skills.png);
  background-size: 690%;
  background-repeat: no-repeat;
  background-position: -160px 0;
}

@media (min-width: 321px) {
  .js {
    background-size: 640%;
    background-position: -183px 0;
  }
}

.jq {
  background-image: url(skills.png);
  background-size: 670%;
  background-repeat: no-repeat;
  background-position: -233px 0;
}

@media (min-width: 321px) {
  .jq {
    background-size: 635%;
    background-position: -280px 0;
  }
}

.ps {
  background-image: url(skills.png);
  background-size: 690%;
  background-repeat: no-repeat;
  background-position: -331px 0;
}

@media (min-width: 321px) {
  .ps {
    background-size: 640%;
    background-position: -388px 0;
  }
}

.ai {
  background-image: url(skills.png);
  background-size: 690%;
  background-repeat: no-repeat;
  background-position: -415px 0;
}

@media (min-width: 321px) {
  .ai {
    background-size: 640%;
    background-position: -487px 0;
  }
}

.portfolio-bg {
  padding: 2rem 0;
  padding-bottom: 5rem;
  background: #e8e8e8;
}

@media (min-width: 768px) {
  .portfolio-bg {
    padding: 2rem 0;
    padding-bottom: 6rem;
  }
}

.portfolio-bg h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  color: #000;
}

@media (min-width: 768px) {
  .portfolio-bg h4 {
    font-size: 2rem;
  }
}

.folio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work {
  width: 290px;
  height: 200px;
  border: 1px solid white;
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

@media (min-width: 361px) {
  .work {
    width: 350px;
    height: 250px;
  }
}

.work1 {
  background-image: url(uob.png);
}

.work2 {
  background-image: url(laptop.png);
}

.work3,
.work4,
.work5,
.work6 {
  background-image: url(work.png);
}

.overlay {
  width: 100%;
  height: 100%;
  background: #05aa51;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work:hover > .overlay {
  transform: translate3d(0, 0, 0);
}

.desc {
  text-align: center;
  padding: 0.5rem;
  padding-top: 0;
}

.desc h4 {
  color: aliceblue;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0;
  margin-top: -0.1rem;
  margin-bottom: 2rem;
}

@media (min-width: 481px) {
  .desc h4 {
    font-size: 1.2rem;
  }
}

.desc a {
  color: aliceblue;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
}

@media (min-width: 481px) {
  .desc a {
    font-size: 1.2rem;
    transition: 0.3s ease;
  }
}

.desc a:hover {
  color: #05aa51;
  background: #f2f2f2;
}

.contact h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  color: #000;
}

@media (min-width: 768px) {
  .contact h4 {
    font-size: 2rem;
  }
}

.contact p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .contact p {
    font-size: 1.2rem;
  }
}

.contact a {
  color: blue;
  text-decoration: none;
  font-weight: 500;
}

@media (min-width: 768px) {
  .contact a {
    font-size: 1.2rem;
  }
}

.contact a:hover {
  color: red;
}

.contact {
  text-align: center;
  padding: 3rem 1rem;
  padding-bottom: 5rem;
  background: #f2f2f2;
}

footer {
  padding: 0 2rem;
  text-align: center;
  background: #f2f2f2;
}

@media (min-width: 768px) {
  footer {
    padding: 0 6rem;
  }
}

.foot {
  padding: 4rem 0rem;
  border-top: 2px solid #c1c1c1;
}

footer p {
  margin-bottom: 2rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social a {
  text-decoration: none;
}

.social-icon {
  width: 40px;
  margin: 0 0.4rem;
}

.social img {
  width: 80%;
}

.stack img {
  width: 75%;
}

.svg {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.top {
  transition: 0.3s;
}

.svg:active .top {
  fill: red;
}

.hide {
  width: 0;
  height: 0;
  transition: 0.3s;
}
